/*limpia la pagina la pone en 0*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*se aplica font-family para aplicar el tipo de letra*/
body {
  font-family: "Inter", sans-serif;
}

/*se crea esta variable para mayor y mejor control de la paleta de colores a aplicar*/
:root {
  --yellon: #fcda68;
  --black: #222222;
  --purpura: #8e7bef;
  --gris: #423f40;
  --white: #f9f5f2;
  --beig: #f9f5f2;
}

@media(min-width: 320px) {

  /* navigation bar */
  .nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .nav button {
    border: none;
    background-color: transparent;
    padding-right: 20px;
  }

  .nav button i {
    color: var(--yellon);
    font-size: 28px;
    cursor: pointer;
  }

  .nav button i:hover {
    color: var(--yellon);
    border: 1px solid var(--black);
    border-radius: 10%;
  }

  /* menu resposi */

  .nav_desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
    background-color: var(--yellon);
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 20px 0;
    height: 100%;
    left: 100%;
    z-index: 10;
    transition: 0.3s;
    gap: 30px;
    overflow-y: auto;
  }

  .a {
    color: var(--purpura);
    text-decoration: none;
    font-size: 18px;

  }

  .a:hover {
    color: var(--white);
    transition: height 0.5s;
  }

  /* botton contac */
  .contac_button_desktop {
    display: none;
  }

  .nav_visible {
    left: 0;
  }

  /* section first */
  .section_first {
    text-align: center;
  }

  .section_first h1 {
    font-size: 40px;
    color: var(--gris);
  }

  .section_first p {
    color: var(--gris);
    font-size: 18px;
    margin-top: 20px;
  }

  .seccion_second {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
    font-size: 15px;
  }

  .seccion_second b {
    color: var(--purpura);
  }

  .seccion_second p:nth-child(2) {
    color: var(--gris);
    opacity: 0.7;
  }

  /*  iconos */
  .icons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 30px
  }

  .icons div {
    background-color: var(--purpura);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .icons i {
    color: var(--white);
    font-size: 25px;
  }

  .icons div:hover {
    transform: scale(1.5);
    background-color: var(--yellon);
    cursor: pointer;
  }

  /* photo */
  .photo_section {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .photo_section img {
    width: 300px;
  }

  /* button contac */
  .contac_button button {
    border: none;
    background-color: var(--purpura);
    width: 300px;
    padding: 10px;
    margin: 30px;
    margin-bottom: 80px;

  }

  .contac_button button a {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 18px;
  }

  .contac_button button:hover {
    cursor: pointer;
    background-color: var(--yellon);
    transform: scale(1.1);
  }

  /* main experience */
  .first_main {
    background-color: var(--yellon);
    padding: 30px;
  }

  .first_main_experience h3 {
    font-size: 40px;
    color: var(--black);
    margin-bottom: 20px;
    line-height: 60px;
  }

  .first_main_experience p {
    color: var(--black);
    margin-bottom: 40px;
    font-size: 18px;
  }

  .title_experience h4 {
    font-size: 25px;
    margin-bottom: 10px;
    color: var(--black);
  }

  .experience {
    display: flex;
    gap: 50px;
    margin-top: 20px;
  }

  .experience1 {
    margin-top: 30px;
  }

  hr {
    border: none;
    background-color: var(--black);
    height: 2px;
  }

  /* skills */

  .skills h3 {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--black);

  }

  .skills_first {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .skills_img {
    padding: 20px;
  }

  .skills_img p {
    color: var(--black);
    font-weight: 550;
  }

  div.skills_img {
    width: 50%;
  }

  /* porfolios */
  .title_porfolio {
    padding: 20px;
  }

  .title_porfolio h3 {
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 10px;
    color: var(--black);
  }

  .porfolio_seccion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .porfolio p {
    color: var(--purpura);
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 10px;
    margin-right: 30px;
  }

  .porfolio:hover {
    cursor: pointer;;
    transform: rotate(360deg);
    transition-duration: 2s, 1s;
  }

 

  /* contac */
  .contac h3 {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: var(--black);
    text-align: center;
    padding: 10px 0px;
  }

  .phone_icon {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }

  .icon_frist {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icon_second {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--beig);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon_second i {
    color: var(--purpura);
    font-size: 30px;
  }

  .opcion {
    font-weight: 600;
    color: var(--black);
    margin-top: 5px;
    line-height: 30px;
  }

  .alter {
    font-weight: 400;
    color: var(--gris);
    font-size: 14px;
    opacity: 0.5;
  }

  .icon_second:hover {
    background-color: var(--yellon);
    cursor: pointer;
    transform: scale(1.3);
  }

  /* footer */
  footer p {
    color: var(--purpura);
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    padding: 40px;
    align-items: center;
  }

  footer {
    word-spacing: 0.25em;
  }

  footer i {
    margin: 10px 10px;
  }

}

@media (min-width: 768px) {
  .nav {
    display: flex;
    justify-content: flex-end;
  }

  .nav_desktop {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    top: 0;
    width: 100%;
    position: inherit;
    left: 0;
    gap: 30px;
    margin-right: 30px;
    margin-top: 20px;
    background-color: inherit;
    overflow-y: auto;
  }

  .navbar {
    display: none;
  }

  .nav_visible {
    left: 0;
  }

  .a {
    color: var(--purpura);
    text-decoration: none;
    font-size: 15px;

  }

  .a:hover {
    color: var(--yellon);

  }

  .section_first {
    margin-top: 20px;
  }

  hr {
    width: 70%;
  }
}

@media (min-width: 992px) {
  .header {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  .nav_desktop {
    margin-top: 10px;
  }

  .a {
    font-size: 18px;
  }

  .a:hover {
    color: var(--yellon);
  }

  .photo_section img {
    min-width: 500px;
    margin-bottom: 100px;
  }

  .section_first {
    text-align: start;
  }

  .section_first h1 {
    font-size: 60px;
    padding-right: 40px;
    width: 350px;
  }

  .section_first p {
    width: 500px;
    font-size: 24px;
  }

  .seccion_second {
    justify-content: flex-start;
  }

  .seccion_second p {
    margin-top: 40px;
    font-size: 25px;
  }

  .icons {
    justify-content: flex-start;
    margin-top: 70px;
  }

  .contac_button {
    display: none;
  }

  .contac_button_desktop {
    display: flex;
    margin-top: 26px;
  }

  .contac_button_desktop button {
    border: none;
    background-color: var(--purpura);
    width: 400px;
    padding: 20px;
    height: 50px;
    margin: 40px 0px;
  }

  .contac_button_desktop a {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 18px;
  }

  .contac_button_desktop button:hover {
    cursor: pointer;
    background-color: var(--yellon);
    transform: scale(1.1);
  }

  .first_main_experience {
    display: flex;
    justify-content: center;
  }

  .first_main_experience h3 {
    width: 350px;
  }

  .first_main_experience p {
    width: 400px;
  }

  .title_experience {
    min-width: 30%;
    margin-left: 120px;
  }

  .skills_first {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }

  .title_porfolio h3 {
    margin-top: 80px;
    font-size: 40px;
    margin-bottom: 50px;
    margin-left: 170px;
  }

  .porfolio_seccion {
    gap: 55px;
  }

  .contac h3 {
    text-align: start;
    margin-left: 170px;
  }

  .icon_second {
    border: 1px solid var(--b);
    background-color: var(--beig);
    border-radius: 20%;
  }

  .icon_second i {
    font-size: 40px;
  }

  .phone_icon {
    gap: 220px;
  }

}

@media (min-width:1024px) {

  div.experience1 {
    width: 150px;
  }

  hr {
    width: 80%;
  }
}

@media (min-width: 1440px) {
  nav.nav {
    margin-right: 80px;
  }

  .title_porfolio {
    margin-left: 20px;
  }

  .skills h3 {
    margin-left: 10%;
  }

  div.skills_first {
    margin-left: 12%;
  }

  .title_porfolio h3 {
    margin-left: 9%;
  }

  .porfolio_seccion {
    margin-left: 3%;
  }

}

@media(min-width: 1440px) {
  nav.nav {
    margin-right: 185px;
  }

}